.Bot_Lv2{
    height: 90vh;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: #192026;
    flex-direction: column;
    gap: 10px;
}
.X{
    display: flex;
    position: absolute;
    left: 200px;
    bottom: 500px;
    user-select: none;

}
.X:hover {
    cursor: pointer;
}
.Set{
    width: 450px;
    height: 450px;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    grid-template-rows: repeat(auto-fill, 30px);
}
.cell{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.cell:hover{
    cursor: pointer;
}
.Restart{
    display: flex;
    user-select: none;
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
}
.Restart button{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}